@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/pages/AboutMe.css" />
<div class="container">
    <div id="overlay" style="width: 100%; height: 100%"></div>
</div>

<div class="content">
    <p>Hello, my name is Parker Bidigare. I hope you are having a good time on my portfolio site. I figured I would add a readable section on the about me page for recruiters that don’t have time to play the game above, but if you did… good for you.</p>
    <p>So long story short, I started my software development journey first starting in electronic circuit design, first analog circuits, then digital circuits, and finally I got into microcontrollers. Now besides starting to code with microcontrollers, which were the basic stamp and parallax microcontrollers, I got into modding computer games. I advanced my Java skills by modding Minecraft back in high school and learned other languages like C++ and VB.NET for fun small projects and other mods for different games.</p>
    <p>Fast forward, I got my professional start at Oakland University working with ASP.NET webforms alongside C# and SQL Server database. Of course, I knew my HTML, CSS and JavaScript while working on a lot of my .NET tasks at Oakland. I automated their commencement process from pen and paper to the digital world of web applications. After three years at Oakland, I moved on to Auburn Pharmaceuticals and worked again on ASP.NET, but mainly worked with VB.NET with their web applications.</p>
    <p>Auburn had two main websites I worked on for selling pharmaceutical drugs to pharmacies, the first website was like Amazon, and the second website was like eBay; one website for selling and the other for bidding on.</p>
    <p>I would really expand my horizons of the software developer world, by starting to work at Cynerge after Auburn Pharmaceuticals. I learned in much more detail about agile scrum, linting, dev-ops, planning, docker, cloud computing, JavaScript front-end frameworks, and so much more. I not only did the usual ASP.NET (In MVC this time) but also worked with Spring Boot Maven & Java, NodeJS projects, and expanded my knowledge on C#. At Cynerge, I worked on various projects for the USDA under the Forest Service as a contractor.</p>
    <p>In the meanwhile, I worked hard, and played harder… other than hanging out with friends and visiting with my family… I programmed various projects non-stop. Most of the projects are for learning and having fun, to name a few things I worked on are AI, Virtual Reality, video games, utility software, etc. The point is software development is my true passion and will continue for the rest of my life to always be coding up something.</p>
</div>

<script type="module" src="~/js/pages/AboutMe.js"></script>