@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Web fonts/Icons -->
<link rel="stylesheet" href="~/Legacy/fonts/opensans/stylesheet.css">
<link rel="stylesheet" href="~/Legacy/fonts/ionicons/ionicons.min.css">
<link rel="stylesheet" href="~/Legacy/fonts/fontawesome/font-awesome.min.css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="~/Legacy/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Legacy/js/lib/swiper.min.css">
<link rel="stylesheet" href="~/Legacy/js/lib/jquery.fullpage.min.css">
<link rel="stylesheet" href="~/Legacy/js/lib/vegas/vegas.min.css">

<!-- Main CSS files -->
<link rel="stylesheet" href="~/Legacy/css/style.css">

<style>
    h5, h2, h3, p, li {
        color: white;
    }
</style>

<div class="pageloader" id="pageloader">
    <div>
        <div class="icon ion-spin"></div>
    </div>
</div>

<div class="page-main jpage-fullpage main-anim" id="itempage">
    <div class="section section-twoside fp-auto-height-responsive section-item padding-none" data-section="item-alpha">
        <div class="section-cover-tier mask-black"></div>
        <div class="section-wrapper largewidth">
            <div class="item row">
                <div class="col-12 col-md-12 center-vh">
                    <div class="section-content anim">
                        <article class="article article-light">
                            <div class="article-content">
                                <div class="wrapper">
                                    <h2>JSPY engine</h2>
                                    <div class="info-small">
                                        <p><i class="icon ion-calendar"></i> 8/16/2019</p>
                                        <p><i class="icon ion-link"></i> <a href="https://github.com/sovr610/JSPY_ParkerEngine">Github Link</a></p>
                                    </div>

                                    <div class="item row justify-content-between mt-5">
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <div class="section-content anim">
                                                <div class="images text-center">
                                                    <div class="img-frame-normal frame-small portrait">
                                                        <img class="img" src="~/Legacy/img/capture_js.PNG" alt="Image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        JSPYengine is a desktop .NET 6.0 C# console application that allows you to run javascript and python on your desktop computer. You might be asking why? Well for starters JavaScript is the most popular computer language
                                        as of 2019 and python being second and too have both of them act as a terminal/command prompt is really interesting. First you have command prompt (shell) integrated, so you can perform "dir" or "cd" commands, while
                                        storing a javascript function to perform a task. Since C# is the foundation of the program, javascript has access to some of the abilities and classes C# has and can be accessed in the javascript engine like Console.WriteLine("").
                                    </p>

                                    <p>
                                        So now JavaScript can create files, and do a lot more

                                        stuff like a desktop application can. You can run javaScript files and python files for more complex tasks, and have an ability to write full desktop apps with javascript and python, working side by side, on one app.

                                        There is an Array of additional features I will be adding that are listed on the github of the project, like adding a Graphical User Interface to easde of use and better commands and so on.
                                    </p>
                                </div>
                            </div>

                            <footer class="article-footer">
                                <div class="article-details">
                                    <h3>Check Out Now</h3>
                                    <p>Does require .net Core 2.1 and recommended windows (checkout github for updates)</p>
                                    <div class="item-buttons-purchase">
                                        <a class="btn btn-secondary" target="_blank" href="https://github.com/sovr610/JSPY_ParkerEngine">
                                            GitHub
                                        </a>
                                    </div>
                                </div>
                            </footer>
                        </article>

                        <!--<div class="btns-action row item-buttons">
                            <div class="col-md-12 item-buttons-next">
                                <a class="btn btn-outline-white border-0" href="ParkerScript.html">
                                    <i class="icon fa fa-arrow-circle-left mr-2"></i>
                                    <span class="txt">Prev</span>
                                </a>
                                <a class="btn btn-outline-white border-0" href="aframe-game.html">
                                    <span class="txt">Next</span>
                                    <i class="icon fa fa-arrow-circle-right ml-2"></i>
                                </a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="site-footer" class="page-footer">
<!-- Left content -->
<div class="footer-left">
    <span class="opacity-75"><i class="icon ion-android-call"></i>586-255-7640</span>
    <span class="opacity-75"><i class="icon ion-email"></i>Work.Simpleintelligence@gmail.com</span>
</div>

<!-- Right content -->
<div class="footer-right">
</div>
</div>

<!-- Scripts -->
<script src="~/Legacy/js/lib/jquery-1.12.4.min.js"></script>
<script src="~/Legacy/js/lib/scrolloverflow.min.js"></script>
<script src="~/Legacy/js/lib/all.js"></script>
<script src="~/Legacy/js/lib/particlejs/particles.min.js"></script>

<!-- Main Script files -->
<script src="~/Legacy/js/custom.js"></script>