@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Web fonts/Icons -->
<link rel="stylesheet" href="~/Legacy/fonts/opensans/stylesheet.css">
<link rel="stylesheet" href="~/Legacy/fonts/ionicons/ionicons.min.css">
<link rel="stylesheet" href="~/Legacy/fonts/fontawesome/font-awesome.min.css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="~/Legacy/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Legacy/js/lib/swiper.min.css">
<link rel="stylesheet" href="~/Legacy/js/lib/jquery.fullpage.min.css">
<link rel="stylesheet" href="~/Legacy/js/lib/vegas/vegas.min.css">

<!-- Main CSS files -->
<link rel="stylesheet" href="~/Legacy/css/style.css">
<style>
    h5, h2, h3, p, li {
        color: white;
    }
</style>
<div class="pageloader" id="pageloader">
    <div>
        <div class="icon ion-spin"></div>
    </div>
</div>

<div class="page-main page-fullpage main-anim" id="itempage">
    <div class="section section-twoside fp-auto-height-responsive section-item padding-none" data-section="item-alpha">
        <div class="section-cover-tier mask-black"></div>
        <div class="section-wrapper largewidth">
            <div class="item row">
                <div class="col-12 col-md-12 center-vh">
                    <div class="section-content anim">
                        <article class="article article-light">
                            <div class="article-content">
                                <div class="wrapper">
                                    <h2>Custom Scripting Language</h2>
                                    <div class="info-small">
                                        <p><i class="icon ion-calendar"></i> August, 3, 2019</p>
                                        <p><i class="icon ion-link"></i> <a href="https://github.com/sovr610/CustomScriptingLanguage">Github</a></p>
                                    </div>

                                    <div class="item row justify-content-between mt-5">
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <div class="section-content anim">
                                                <div class="images text-center">
                                                    <div class="img-frame-normal frame-small portrait">
                                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/MVLDj3g4qkc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Here is a Youtube video Live Stream I did on showing how you can make your own custom scripting language using nlua in C#. The Prokect runs on .net Framework 4.6.1 as a Console Application.</p>
                                </div>
                            </div>

                            <footer class="article-footer">
                                <div class="article-details">
                                    <h3>Check It Out</h3>
                                    <p></p>
                                    <div class="item-buttons-purchase">
                                        <a class="btn btn-secondary" target="_blank" href="https://github.com/sovr610/CustomScriptingLanguage">
                                            Github
                                        </a>
                                    </div>
                                </div>
                            </footer>
                        </article>

                        <!--<div class="btns-action row item-buttons">
                            <div class="col-md-12 item-buttons-next">
                                <a class="btn btn-outline-white border-0" href="NodeItem.html">
                                    <i class="icon fa fa-arrow-circle-left mr-2"></i>
                                    <span class="txt">Prev</span>
                                </a>
                                <a class="btn btn-outline-white border-0" href="JSPY.html">
                                    <span class="txt">Next</span>
                                    <i class="icon fa fa-arrow-circle-right ml-2"></i>
                                </a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->
<!-- Start Footer -->
<div id="site-footer" class="page-footer">
    <!-- Left content -->
    <div class="footer-left">
        <span class="opacity-75"><i class="icon ion-android-call"></i>586-255-7640</span>
        <span class="opacity-75"><i class="icon ion-email"></i>work.simpleintelligence@gmail.com</span>
    </div>

    <!-- Right content -->
    <div class="footer-right">
    </div>
</div>
<!-- End Footer  -->
<!-- Scripts -->
<script src="~/Legacy/js/lib/jquery-1.12.4.min.js"></script>
<script src="~/Legacy/js/lib/scrolloverflow.min.js"></script>
<script src="~/Legacy/js/lib/all.js"></script>
<script src="~/Legacy/js/lib/particlejs/particles.min.js"></script>

<!-- Main Script files -->
<script src="~/Legacy/js/custom.js"></script>